@charset "UTF-8";
/* RESET & BASE
------------------ */
/* DEFAULT & RESET CSS*/
/* Table of Contents
==================================================
  1 Generic Styles
  2 Resets
    A Global
    B Media
    C Forms
  3 Typography
  
  
  
/* 1 GENERIC STYLES
================================================== */
/*Mash up based on
  (A) the Bootstrap toolkit from Twitter http://twitter.github.com/bootstrap
  (B) http://csswizardry.com/web-design+/#css
  (C) WordPress image styles */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body {
  height: 100%; }

div {
  position: relative; }

.clear {
  clear: both; }

.aligncenter {
  display: block;
  margin: 0 auto; }

.textcenter {
  text-align: center; }

.alignleft {
  float: left; }

.alignright {
  float: right; }

img.alignleft {
  margin-right: 1em;
  margin-bottom: 1.8em; }
img.alignright {
  margin-left: 1em;
  margin-bottom: 1.8em; }

.text-right {
  text-align: right; }

.half {
  width: 45%;
  /* Not exactly half to account for paddings, margins etc. */ }

ul.unstyled {
  list-style-type: none; }

.hide {
  /* Hide stuff without resorting to display:none; */
  visibility: hidden;
  width: 0 !important;
  height: 0 !important;
  line-height: 0 !important;
  padding: 0 !important;
  margin: 0 !important; }

/* 2 RESETS
================================================== */
/* 2A GLOBAL RESET
Based on 'reset.css' in the Yahoo! User Interface Library: http://developer.yahoo.com/yui */
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td, address, caption, cite, code, dfn, em, strong, th, var {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset {
  border: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  /* Read more > http://bit.ly/qh1V0T */ }

caption, th {
  text-align: center; }

q:before, q:after {
  content: ''; }

html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* The below restores some sensible defaults */
strong {
  font-weight: bold; }

em {
  font-style: italic; }

a img {
  border: none; }

/* Gets rid of IE's blue borders */
/* 2B MEDIA
Based on the Bootstrap toolkit from Twitter http://twitter.github.com/bootstrap */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

/* 2C FORMS
Based on the Bootstrap toolkit from Twitter http://twitter.github.com/bootstrap */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal;
  *overflow: visible; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }
input[type="search"] {
  -webkit-appearance: textfield; }
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

/* 3 TYPOGRAPHY
================================================== */
.alert {
  background: red;
  color: white; }

/* 'alert' has a basic style, since it's useful to have it standing out for testing purposes. */
/************************************************************************
 Borrowed from Bourbon: http://bourbon.io/docs/#html5-input-types

 Generate a variable ($all-text-inputs) with a list of all html5 input types that have a text-based input, excluding textarea.
 http://diveintohtml5.org/forms.html
************************************************************************/
/* Bare inputs */
/* Hover Pseudo-class */
/* Focus Pseudo-class */
/* BASE VARIABLES
 *******************/
/* Sizes */
/* Palette */
/* Colors */
/* Fonts */
/* Weights: regular & italic */
/* Weights: light, light italic, & semi bold */
/* Borders */
/* Breakpoints */
/* 680 */
body {
  background: #FFF;
  margin: 0;
  padding: 0; }

#page {
  width: 100%; }

#primary,
#blog-feed {
  margin: 0 auto;
  width: 65%; }

#main:after,
#footer:after,
.row:after {
  content: '';
  display: table;
  width: 100%;
  height: 0.1px;
  clear: both; }

@media screen and (max-width: 500px) {
  #primary,
  #blog-feed {
    width: 90%; } }
.container {
  width: 95%;
  max-width: 1800px;
  margin: 0 auto; }

.col {
  display: block;
  float: left;
  width: 100%;
  margin-left: 2%; }
  @media (max-width: 500px) {
    .col {
      margin-left: 0; } }
  .col:first-child, .col.pull-left {
    margin-left: 0; }

.span_1 {
  width: 6.5%; }

.span_2 {
  width: 15.0%; }

.span_3 {
  width: 23.5%; }

.span_4 {
  width: 32.0%; }

.span_5 {
  width: 40.5%; }

.span_6 {
  width: 49.0%; }

.span_7 {
  width: 57.5%; }

.span_8 {
  width: 66.0%; }

.span_9 {
  width: 74.5%; }

.span_10 {
  width: 83.0%; }

.span_11 {
  width: 91.5%; }

.span_12 {
  width: 100%; }

@media (max-width: 740px) {
  .span_1,
  .span_2,
  .span_3,
  .span_4,
  .span_5,
  .span_6,
  .span_7,
  .span_8,
  .span_9,
  .span_10,
  .span_11,
  .span_12 {
    width: 100%;
    margin-left: 0; } }

/* Sticky footer */
html, body {
  height: 100%; }

body {
  margin: 0px;
  padding: 0px; }

#page {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -60px; }
  #page #main {
    padding: 0 0 60px 0; }

#footer {
  height: 60px; }

#site-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999 !important;
  margin: 0px;
  padding: 1em 0 0;
  text-align: center;
  background: #4d4d4d;
  opacity: 0.95; }
  #site-header .logo img {
    max-width: 70px;
    height: auto; }

#site-header {
  opacity: 0; }

header {
  padding-top: 4em;
  position: relative;
  z-index: 9999999; }

.left {
  opacity: 0;
  width: 100px;
  float: left;
  left: 6%; }
  .left:after {
    content: '';
    display: table;
    width: 100%;
    height: 0.1px;
    clear: both; }
  .left .home-logo {
    float: right;
    padding-bottom: 1.5em; }
    .left .home-logo .logo img {
      max-width: 100px;
      height: auto; }
  .left .access {
    clear: right; }

.featured-image {
  opacity: 0;
  margin: 0 auto 4em;
  max-width: 65%; }
  .featured-image img {
    opacity: 0.9; }

.caption-left {
  display: none; }

.caption-right {
  text-align: right;
  width: 450px;
  position: absolute;
  bottom: 2.5em;
  right: -5em;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  padding: 1em 1.5em 1em 1em;
  background: rgba(255, 255, 255, 0.8);
  border-right: 1px solid #bbbbbb; }

@media screen and (max-width: 850px) {
  header {
    padding: 0; }

  .left {
    width: 90%;
    margin: 0 auto;
    float: none;
    left: auto;
    padding: 1.5em 0; }
    .left:after {
      content: '';
      display: table;
      width: 100%;
      height: 0.1px;
      clear: both; }
    .left .home-logo {
      width: 50%;
      float: left; }
      .left .home-logo .logo img {
        max-width: 100px;
        height: auto; }
    .left .access {
      width: 50%;
      float: right; }

  .featured-image {
    max-width: 100%;
    margin: 0 auto; }

  .caption-right {
    text-align: center;
    width: 100%;
    padding: 2em 1.5em 0;
    position: relative;
    bottom: auto;
    right: auto;
    border-right: none;
    background: none; } }
.access {
  margin: 0; }
  .access ul {
    clear: left;
    padding-left: 0;
    margin: 0 !important;
    list-style: none;
    text-align: right; }
    .access ul:after {
      content: '—';
      color: #555; }
    .access ul li {
      position: relative;
      vertical-align: middle; }
      .access ul li a {
        display: block;
        text-decoration: none;
        cursor: pointer; }
        .access ul li a:hover, .access ul li a:focus {
          color: rgba(85, 85, 85, 0.6); }

footer {
  background: #f1f1f1;
  padding: 1.5em 0 0;
  margin-top: 4em; }

#contact-info {
  width: 50%;
  float: left;
  text-align: left; }
  #contact-info .email, #contact-info .phone {
    margin-right: 2em; }

#copyright {
  width: 50%;
  float: right;
  text-align: right; }
  #copyright ul li {
    display: inline-block;
    margin-right: 0 2em 0 0; }
    #copyright ul li:last-child {
      margin-right: 0; }

@media screen and (min-width: 679px) {
  #contact-info i.icon-email, #contact-info i.icon-phone {
    display: none; }

  #copyright ul li {
    display: inline-block; } }
@media screen and (max-width: 680px) {
  #footer {
    height: auto;
    padding-bottom: 1.5em; }

  #contact-info {
    width: 100%;
    float: none;
    text-align: center; }
    #contact-info i {
      font-size: 1.5em; }
    #contact-info .email, #contact-info .phone {
      display: none;
      margin-right: 0; }

  #copyright {
    width: 100%;
    float: none;
    text-align: center;
    padding-top: 1em; }
    #copyright ul {
      margin: 0; }
      #copyright ul li {
        display: block;
        margin: 0; } }
