/* BASE VARIABLES
 *******************/

/* Sizes */
$max-width: 1800px;
$space: 65%;
$footerheight: 60px;
$portrait: 6 / 13 * 100%;
$landscape: 3 / 4 * 100%;

/* Palette */
$light-grey: #f1f1f1;
$grey-hover: rgba(85,85,85,0.6);
$dark-grey: #4d4d4d;

/* Colors */
$text: #555;
$links: #000;
$hover: $grey-hover;

$bg: #FFF;
$header: $dark-grey;

$opacity: 0.8;

/* Fonts */
$serif: "Adobe Garamond Pro",serif; /* Weights: regular & italic */
$sans-serif: "Open Sans",sans-serif; /* Weights: light, light italic, & semi bold */

$main: $sans-serif;
$italic: $serif;

/* Borders */
$border: 1px solid #b2b2b2;


$susy: (
	columns: 12,
	gutter-width: 2em,
	container: 1920px,
	global-box-sizing: border-box 
  );

/* Makes border-box properties */
@include border-box-sizing;

/* Breakpoints */
$cap: 1920px;
$m: 850px;
$s: 740px;
/* 680 */
$xs: 600px;