/* Blog */
.blog-category {
	@include prefix(2 of 12);
	@include span(4 of 12);
}
.category-list {
	@include span(8 of 12 last);
	@include suffix(2 of 12);
	padding-bottom: 3em;
	.title {
		margin-bottom: 0;
	}
}

article {
	&:hover time {
		display: block;
	}
}
.blog-post {
	margin-bottom: 6em;
	border-bottom: 1px solid $light-grey;
	padding-bottom: 3em;
	.title {
		margin-bottom: 0;
	}
}
.readmore,
.back {
	text-align: right;
	display: block;
	clear: both;
}
.blogarticle {
	margin-bottom: 6em;
	border-bottom: 1px solid $light-grey;
	padding-bottom: 3em;
	.title {
		margin-bottom: 0;
	}
	.blogimages {
		position: relative;
		@include clearfix();
	}
	p {
		clear: both;
	}
	figure {
		z-index: 1;
		&.right {
			float: right;
		}
		&.left {
			float: left;
		}
		&:hover {
			z-index: 100;
		}
	}
	.zero {
		margin-top: 0;
		position: relative;
	}
	.sixteen {
		margin-top: 16%;
		position: absolute;
	}
	.forty {
		margin-top: 40%;
		position: absolute;
	}
}
