form label {
	display: none;
}
.contactform {
	position: relative;
}
.pine-services {
	border-bottom: $border;
	padding: 0 10px 12px;
	p {
		margin-top: 2em;
		text-align: left;
		color: $text;
		font-size: 14px;
		line-height: 26px;
		font-weight: 300;
		letter-spacing: 0.25px;
	}
	input[type="checkbox"] {
		margin-bottom: 1em;
	}
}
.checkbox-columns {
	font-size: 14px;
}
.submit {
	margin-top: 2em;
}
#mce-responses {
	padding-top: 2em;
	color: $links;
}
#mc_embed_signup div.mce_inline_error {
    margin: 0 0 1em 0;
    padding: 10px 10px!important;
    background-color: #fff!important;
    font-weight: bold;
    z-index: 1;
    color: #6B0505!important;
    font-style: italic!important;
}
.mc-field-group {
	margin-top: 2em;
}

/* See _mixins.scss for more on this method for handling HTML5 elements */
#{$all-text-inputs},
textarea {
	width: 100%;
	border-bottom: $border;
	padding: 6px 10px;
	line-height: 28px;
	text-align: left;
	-webkit-appearance: none;
}
#{$all-text-inputs-focus},
textarea:focus {
	color: $text;
}
input[type=submit], button {
	-webkit-appearance: none;
	width: 100%;
	line-height: 39px;
	border: $border;
	background-color: transparent;
	-webkit-transition: background-color 0.25s linear;
	transition: background-color 0.25s linear;
	&:hover {
		background-color: #b2b2b2;
		color: $bg;
	}
}
a.button {
	-webkit-appearance: none;
	width: 100%;
	padding: 18px 25px;
	color: $bg;
	border: 1px solid white;
	background-color: $darkgrey;
	-webkit-transition: background-color 0.25s linear;
	transition: background-color 0.25s linear;
	&:hover {
		padding: 18px 25px;
		background-color: transparent;
		border: $border;
		color: $darkgrey;
	}
}
select {
	width: 100%;
	border: $border;
	background-color: transparent;
	line-height: 39px;
	height: 41px;
}

/* Placeholders */
::placeholder {
	color: $text;
}

// Customize Chrome autofill background (yellow by default)
// input:-webkit-autofill,
// input:-webkit-autofill:focus {
//     -webkit-box-shadow:0 0 0 50px #6d6e6e inset;
//     -webkit-text-fill-color: white;
// }

/* Search form */
input#s {
}
input#searchsubmit {
}

/* Uniform Plugin */
.uniform__potty {
	position: absolute;
	top: -9999px;
	left: -9999px;
}


@media screen and (min-width: 0px) and (max-width: 600px) {
	input[type=submit],
	button,
	.button {
		padding: 25px 25px;
		width: 100%;
		text-align: center;
		display: block;
		background-color: $darkgrey;
		color: $bg;
		border: none;
		&:hover {
			background-color: transparent;
			border: $border;
			color: $darkgrey;
		}
	}
}