#logo {
	@include span (4 of 12);

}
nav {
	@include span (8 of 12 last);
}

.logo {
	width: 60px;
	height: auto;
	margin-bottom: 0;
	a:hover {
		color: none;
	}
}
path {
	-webkit-transition: fill 0.5s linear;
	-moz-transition: fill 0.5s linear;
	transition: fill 0.5s linear;
}
.logo path {
	fill: #bbb;
}
.logo:hover path {
	fill: $hover;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
	header {
		padding: 1.5em 2.5% 0;
	}
}