body {
	background: $bg;
	margin: 0;
	padding: 0;
}
.wrap {
	@include container();
}
header,
main,
section,
footer {
	@include span(12);
}
header,
section,
footer {
	margin: 2em 0;
}
.left {
	text-align: right;
	@include span(3);
}
.right {
	@include span(9 last);
}

.one-third {
	@include span(4 of 12);
}