body {
	background: $bg;
	margin: 0;
	padding: 0;
}
main, footer {
	background: $bg;
}
.wrap {
	@include container();
	width: 100%;
	margin: 0 auto;
}
main,
footer,
nav {
	width: 75%;
	max-width: 1000px;
	margin: 0 auto;
	/* Add media queries here */
}
header {
	position: fixed;
	@include span(12);
}
main {
	margin-top: 6em;
}
section.banner {
	padding: 0;
}
section {
	@include span(3 of 4 last);
}
article, section {
	margin-bottom: 6em;
}
article {
	@include clearfix;
}
.blog section {
	margin-bottom: 0em;
}
.heading {
	@include span(3);
}
.paragraph {
	@include span(9 last);
}

.one-third {
	@include span(4 of 12);
}
.one-third-last {
	@include span(4 of 12 last);
}
.two-thirds {
	@include span(8 of 12);
}
.one-half {
	@include span(6 of 12);
}
.project-images .one-half:nth-child(2n) {
	@include span(6 of 12 last);
}
.one-half-last {
	@include span(6 of 12 last);
}
.full {
	@include span(12 of 12 last);
}
.portrait {
	width: $portrait;
}
.landscape {
	width: $landscape;
}
.left {
	left: 0;
}
.right {
	right: 0;
}
/* Columns */
.checkbox-columns {
	@include span(1 of 3);
	&:last-child {
		@include span(1 of 3 last);
	}
}
.columns {
  margin-right: -2rem;
}
.column {
  display: inline-block;
  vertical-align: top;
  padding-right: 2rem;
}
.columns-1 .column {
  width: 100%;
}
.columns-2 .column {
  width: 50%;
}
.columns-3 .column {
  width: 33.33%;
}
.columns-4 .column {
  width: 25%;
}
.columns-5 .column {
  width: 20%;
}
@media screen and (min-width: 0px) and (max-width: 600px) {
  	main,
  	footer,
  	nav {
  		width: 95%;
  	}
  	main {
  		margin-top: 0;
  	}
  	section {
		@include span(12);
	}
	.one-third, 
	.one-third-last, 
	.two-thirds,
	.one-half,
	.project-images .one-half:nth-child(2n) {
		@include span(12);
	} 
	/* Columns */

	.columns {
	  margin-right: 0;
	}
	.column {
	  display: block;
	  vertical-align: none;
	  padding-right: 0;
	}
	.columns-1 .column,
	.columns-2 .column,
	.columns-3 .column,
	.columns-4 .column,
	.columns-5 .column {
	  width: 100%;
	}	
}