body {
	background: $bg;
	margin: 0;
	padding: 0;
}
.wrap {
	@include container();
	width: 90%;
}
header,
main,
section,
footer {
	@include span(12);
}
header,
section,
footer {
	margin: 2em 0;
}
.left {
	text-align: right;
	@include span(2);
}
.right {
	@include span(9 last);
}

.one-third {
	@include span(4 of 12);
}
.one-third-last {
	@include span(4 of 12 last);
}

.one-half {
	@include span(6 of 12);
	&:nth-child(2n) {
		@include span(6 of 12 last);
	}
}

/* Columns */

.columns {
  margin-right: -2rem;
}
.column {
  display: inline-block;
  vertical-align: top;
  padding-right: 2rem;
}
.columns-1 .column {
  width: 100%;
}
.columns-2 .column {
  width: 50%;
}
.columns-3 .column {
  width: 33.33%;
}
.columns-4 .column {
  width: 25%;
}
.columns-5 .column {
  width: 20%;
}