/* Home + Portfolio */

 // .portfolio-ctn {
 // 	padding-bottom: 27%;
 // }
.portfolio {
	// min-height: 1200px;
	@include clearfix();
}
.project {
	// position: absolute;
	margin-bottom: 3em;
	height: auto;
	font-style: italic;
	font-size: 0.9em;
	letter-spacing: 0.4px;
	a {
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	&:first-child {
		// right: 0;
		// top: 0;
		// z-index: 1;
		// width: $portrait;
		@include span(1 of 2);
	}
	&:nth-child(2n) {
		// left: 0;
		// top: 12%;
		// z-index: 3;
		// width: $portrait;
		@include span(1 of 2 last);
	}
	&:nth-child(3n) {
		// right: 0;
		// top: 24%;
		// z-index: 4;
		// width: $portrait;
		@include span(12 last);
	}
	&:nth-child(4n) {
		// right: 0;
		// top: 48%;
		// z-index: 4;
		// width: $portrait;
		@include span(1 of 2);
	}
	&:nth-child(5n) {
		// right: 0;
		// top: 60%;
		// z-index: 4;
		// width: $portrait;
		@include span(1 of 2 last);
	}
	&:nth-child(6n) {
		// right: 0;
		// top: 72%;
		// z-index: 4;
		// width: $portrait;
		@include span(12 last);
	}
	&:last-child {
		// left: 0;
		// top: 84%;
		// z-index: 2;
		// width: $portrait;
		@include span(1 of 2 last);
	}
	// &:hover {
	// 	z-index: 100;
	// }
	&:hover img {
		opacity: $opacity;
	}
	img {
		opacity: 1;
		-webkit-transition: opacity 0.25s linear;
		-moz-transition: opacity 0.25s linear;
		transition: opacity 0.25s linear;
	}
}

/* Projects */
.project-images {
	@include span(4 of 4 last);
	.seventyfive {
		@include span(3 of 4 last);
	}
}
.project-details {
	@include span(1 of 4);
}
.project-credits {
	@include span(3 of 4 last);
}

/* Blog */
article {
	&:hover time {
		display: block;
	}
}
.readmore,
.back {
	text-align: right;
	display: block;
	clear: both;
}
.blogarticle {
	.blogimages {
		position: relative;
		@include clearfix();
	}
	div {
		margin-bottom: 6em;
	}
	p {
		clear: both;
	}
	figure {
		z-index: 1;
		&.right {
			float: right;
		}
		&.left {
			float: left;
		}
		&:hover {
			z-index: 100;
		}
	}
	.zero {
		margin-top: 0;
		position: relative;
	}
	.sixteen {
		margin-top: 16%;
		position: absolute;
	}
	.forty {
		margin-top: 40%;
		position: absolute;
	}
}


/* Other */
ul.instagram-feed {
	list-style: none;
	margin: 0;
	bottom: 0;
	li {
		display: inline-block;
		@include span(3);
		&:last-child {
			margin-right: 0;
		}
	}
}

img,
#mc_embed_signup,
.instagram {
	margin-bottom: 1.5em;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
	.portfolio {
		min-height: 560px;
	}
	.project-images {
		img {
			margin-bottom: 0;
		}
		.seventyfive {
			@include span(12);
		}
	}
	.project-details,
	.project-credits {
		@include span(12);
	}	
}