/* Home + Portfolio */

.portfolio-ctn {
	margin-top: 5.5em; 
	h1 {
		display: none;
		font-size: 2em;
		z-index: 5;
		left: -4%;
		top: 7em;
		position: relative;
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
}
.portfolio, .portraits {
	// min-height: 1200px;
	@include clearfix();
}
.portrait {
	margin-bottom: 3em;
	height: auto;
	letter-spacing: 0.4px;
	&:first-child {
		@include span(4 of 12);
		@include gutters(11% before);
	}
	&:last-child {
		margin-top: 5em;
		@include span(4 of 12 last);
		@include gutters(11%);
	}
}
.project {
	// position: absolute;
	margin-bottom: 3em;
	height: auto;
	letter-spacing: 0.4px;
	a {
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	&:first-child {
		// right: 0;
		// top: 0;
		// z-index: 1;
		// width: $portrait;
		// @include prefix(1 of 24);
		@include span(4 of 12);
		@include gutters(11% before);
		margin-top: 5em;
	}
	&:nth-child(2n) {
		// left: 0;
		// top: 12%;
		// z-index: 3;
		// width: $portrait;
		@include span(4 of 12 last);
		@include gutters(11%);
	}
	&:nth-child(3n) {
		// right: 0;
		// top: 24%;
		// z-index: 4;
		// width: $portrait;
		margin: 6em auto 10em;
		// @include prefix(1 of 12);
		@include span(6 last);
		// @include gutters(26em);
		@include gutters(10%);
		@include gutters(10% before);
		// @include suffix(4 of 12);
	}
	&:nth-child(4n) {
		// right: 0;
		// top: 48%;
		// z-index: 4;
		// width: $portrait;
		@include span(4 of 12);
		@include gutters(11% before);
	}
	&:last-child {
		// left: 0;
		// top: 84%;
		// z-index: 2;
		// width: $portrait;
		margin-top: 5em;
		@include span(4 of 12 last);
		@include gutters(11%);
	}
	&:hover .caption {
		opacity: 1;
	}
	img {
		opacity: 1;
		display: block;
		-webkit-transition: opacity 0.25s linear;
		-moz-transition: opacity 0.25s linear;
		transition: opacity 0.25s linear;
	}
	.caption {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		text-align: center;
		color: $bg;
		background-color: rgba(27,27,27,0.8);
		opacity: 0;
		-webkit-transition: opacity 0.5s linear;
		-moz-transition: opacity 0.5s linear;
		transition: opacity 0.5s linear;
		p {
			font-size: 22px;
			display: block;
			position: relative;
			top: 50%;
			transform: perspective(1px) translateY(-50%);
		}
	}
}

/* Projects */

.project-details {
	@include prefix(2 of 12);
	@include span(4 of 12);
}
.project-text {
	@include span(8 of 12 last);
	@include suffix(2 of 12);
}
.project-credits {
	@include prefix(4 of 12);
	@include span(4 of 4 last);
	@include suffix(2 of 12);
}
.project-images {
	@include prefix(4 of 12);
	@include span(4 of 4 last);
	@include suffix(2 of 12);
}

/* Blog */
article {
	&:hover time {
		display: block;
	}
}
.blog-post {
	margin-bottom: 6em;
	border-bottom: 1px solid $light-grey;
	padding-bottom: 3em
}
.readmore,
.back {
	text-align: right;
	display: block;
	clear: both;
}
.blogarticle {
	.blogimages {
		position: relative;
		@include clearfix();
	}
	div {
		margin-bottom: 6em;
	}
	p {
		clear: both;
	}
	figure {
		z-index: 1;
		&.right {
			float: right;
		}
		&.left {
			float: left;
		}
		&:hover {
			z-index: 100;
		}
	}
	.zero {
		margin-top: 0;
		position: relative;
	}
	.sixteen {
		margin-top: 16%;
		position: absolute;
	}
	.forty {
		margin-top: 40%;
		position: absolute;
	}
}


/* Other */
ul.instagram-feed {
	list-style: none;
	margin: 0;
	bottom: 0;
	li {
		display: inline-block;
		@include span(3);
		&:last-child {
			margin-right: 0;
		}
	}
}

#mc_embed_signup,
.instagram {
	margin-bottom: 0.25em;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
	.portfolio {
		min-height: 560px;
	}
	.project {
		margin: 0 0 1em 0 !important;
		a {
			position: absolute;
			z-index: 1;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
		&:first-child {
			@include span(12 last);
			@include gutters(0);
		}
		&:nth-child(2n) {
			@include span(12 last);
			@include gutters(0);
		}
		&:nth-child(3n) {
			@include span(12 last);
			@include gutters(0);
		}
		&:nth-child(4n) {
			@include span(12 last);
			@include gutters(0);
		}
		&:last-child {
			@include span(12 last);
			@include gutters(0);
		}								
	}
	.project-images {
		@include prefix(0 of 12);
		@include span(4 of 4 last);
		@include suffix(0 of 12);
	}	
	.project-details,
	.project-credits,
	.project-text {
  		float: none !important;
  		width: 95%;
  		margin-left: auto;
  		margin-right: auto !important;
		@include span(95%);
		@include prefix(0 of 12);
		@include suffix(0 of 12);
	}	
}