nav {
	ul {
		list-style: none;
		margin: 0;
		li {
			position: relative;
			vertical-align: middle;
			display: inline-block;
			margin-right: 2.5em;
			a {
				display: block;
				text-decoration: none;
				cursor: pointer;
				color: $bg;
				&:hover,
				&:focus {
					color: $hover;
				}
			}
		}
		&:after {
		 	content: '';
		 	display: inline-block;
		 	height: 1px;
		 	width: 25px;
		 	margin-bottom: 3px;
		 	background-color: $bg;
		}			
	}
	ul#hidden-menu {
		display: none;
		transition: opacity 0.5s ease-in-out;
		-webkit-transition: opacity 0.5s ease-in-out;
		opacity: 0;
		&:after {
			content: '';
			display: none;
		}
	}
}

nav ul:hover {
	ul#hidden-menu {
		display: inline-block;
		transition: opacity 0.5s ease-in-out;
		-webkit-transition: opacity 0.5s ease-in-out;
		opacity: 1;
	}
}