nav {
	padding-top: 28px;
	ul {
		list-style: none;
		margin: 0;
		&:after {
		 	content: '—';
		 	color: $text;
		}
		li {
			position: relative;
			vertical-align: middle;
			display: inline-block;
			margin-right: 2.5em;
			a {
				display: block;
				text-decoration: none;
				cursor: pointer;

				&:hover,
				&:focus {
					color: $hover;
				}
			}
		}
		
		
	}
	
}